@model ReaderPageModel
@{
    ViewData["Title"] = @Model.SafeName() + " - Chapter " + @Model.Chapter;
}
<div class="container">
    <div class="row spacer">
        <div class="col-12" align="center">
            <script type="text/javascript">
                var ad_idzone = "2888154",
                    ad_width = "728",
                    ad_height = "90";
            </script>
            <script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
            <noscript><a href="https://main.exosrv.com/img-click.php?idzone=2888154" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=2888154&output=img&type=728x90" width="728" height="90"></a></noscript>
        </div>
    </div>
    <div class="row">
        <div class="hidden-sm-down col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <hr class="hr-dark" />
        </div>
        <div class="hidden-sm-down col-md-2 col-lg-2 col-xl-2"></div>
    </div>
    <div class="row">
        <div class="hidden-md-down col-lg-1 col-xl-2"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">
            <a href="/@Model.SafeName().Replace(" ", "-").Replace("'", "")/@(Model.Chapter - 1)" class="btn peach-gradient btn-rounded">
                Previous
            </a>
            @if (Model.LastChapter()) // Show the next button only if it's not the last chapter in the series
            {
                <a href="/@Model.SafeName().Replace(" ", "-").Replace("'", "")/@(Model.Chapter + 1)" class="btn blue-gradient btn-rounded float-right">
                    Next
                </a>
            }
            else
            {
                <a href="/Series" class="btn blue-gradient btn-rounded float-right">
                    Back to Series
                </a>
            }
        </div>
        <div class="hidden-md-down col-lg-1 col-xl-2"></div>
    </div>
    @foreach (var pages in Model.GetImages()) // Displaying the pages
    {
        <div class="row">
            <div class="col-12">
                <img src="https://manhwa.co/@pages" class="img-fluid d-block mx-auto" alt=""/>
            </div>
        </div>
    }
    <div class="row" style="margin-bottom: 25px">
        <div class="hidden-md-down col-lg-1 col-xl-2"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">
            <a href="/@Model.SafeName().Replace(" ", "-").Replace("'", "")/@(Model.Chapter - 1)" class="btn peach-gradient btn-rounded">
                Previous
            </a>
            @if (Model.LastChapter()) // Show the next button only if it's not the last chapter in the series
            {
                <a href="/@Model.SafeName().Replace(" ", "-").Replace("'", "")/@(Model.Chapter + 1)" class="btn blue-gradient btn-rounded float-right">
                    Next
                </a>
            }
            else
            {
                <a href="/Series" class="btn blue-gradient btn-rounded float-right">
                    Back to Series
                </a>
            }
        </div>
        <div class="hidden-md-down col-lg-1 col-xl-2"></div>
    </div>
</div>