@{
    ViewData["Title"] = "Series";
}
<div class="container">
    <div class="row spacer">
        <div class="hidden-sm-down col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <h5 class="display-5 text-center">All Series</h5>
            <hr class="hr-dark"/>
        </div>
        <div class="hidden-sm-down col-md-2 col-lg-2 col-xl-2"></div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/30cm">
                        <img src="inc/30cm_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">30cm</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/Aharoo">
                        <img src="inc/aharoo_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Aharoo</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/Angels-Tears">
                        <img src="inc/angels-tears_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Angel's Tears</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/Bastards-Dead-Man">
                        <img src="inc/bastards-dead-man_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Bastard's Dead Man</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/Butterfly">
                        <img src="inc/butterfly_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Butterfly</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/Drug-Candy">
                        <img src="inc/drug-candy_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Drug Candy</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/Girl-Next-Door">
                        <img src="inc/girl-next-door_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Girl Next Door</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="Satanophany">
                        <img src="inc/satanophany_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Satanophany</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/Secret-X-Folder">
                        <img src="inc/secret-x-folder_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Secret X Folder</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/Sex-Knights">
                        <img src="inc/sex-knights_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Sex Knights</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card card-cascade narrower" style="margin-bottom: 25px">
                <div class="view overlay hm-stylish-slight">
                    <a href="/Switch">
                        <img src="inc/switch_s.png" class="img-fluid card-img-top rounded" alt="">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Switch</h5>
                </div>
            </div>
        </div>
    </div>
</div>